# Don't track content of these folders:
static/styles/
templates/js/
templates/puzpy-master/
templates/.DS_Store
templates/backupCW.html
__pycache__/
CW.css
venv/
Modules/
setup.py
application.pyc
mine.py
Tests2.py
tests.py
mine.puz
*.pyc
*.rst
*.ini
*.cfg
*.in
LICENSE
.DS_Store
puz.py
utilities.pyc
