# Don't track content of these folders:
templates/js/
templates/puzpy-master/
templates/.DS_Store
__pycache__/
CW.css
puz.py
testfiles/
venv/
Modules/
setup.py
application.pyc
mine.py
Tests2.py
tests.py
*.pyc
*.rst
*.ini
*.cfg
*.in
LICENSE
.DS_Store
